#cart {
    margin-top: 20px;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
}

#cart .table {
    display: grid;
    grid-template-columns: repeat(5, 150px);
}

#cart .table {
    font-size: 20px;
}

#cart .table .heading {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

#cart .table .edit {
    display: flex;
    gap: 15px;
}
