#cart {
    margin-top: 20px;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
}

#cart .table {
    display: grid;
    grid-template-columns: 200px repeat(4, 130px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-bottom: 1px grey solid;
    overflow: hidden;
}

#cart .table>* {
    display: grid;
    place-items: center;
    height: 50px;
    border-top: 1px grey solid;
}

#cart .table {
    font-size: 20px;
}

#cart .table .heading {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
}

#cart .table .edit.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#cart .table .edit.cell * {
    cursor: pointer;
    height: fit-content;
    user-select: none;
}

#cart .table .total.cell{
    font-weight: bold;
}
