#product-list{
    height: 100%;
    display: flex;
    align-items: start;
}

#grid-container{
    padding: 30px;
    width: max(700px, 80%);
    display: flex;
    justify-content: center;
    margin-left: auto;
}

#products {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
